@tailwind base;
@tailwind components;
@tailwind utilities;


/* index.css එකේ මෙහෙම දාන්න */
body {
  background-color: #0B1120;
  color: white;
}

/* --- Custom Scrollbar Styling --- */

/* Scrollbar  */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #000000; 
}

/* Scrollbar Thumb  */
::-webkit-scrollbar-thumb {
  background-color: #0077B6;
  border-radius: 20px;
  border: 2px solid #000000;
}

/* Mouse  */
::-webkit-scrollbar-thumb:hover {
  background-color: #00B4D8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0077B6 #000000;
}